* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  --scrollbar: 15px;
}

body {
  overflow-x: hidden;
}

#root {
  width: calc(100vw + var(--scrollbar));
  min-height: 100vh;
}

#webgpu-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#header {
  position: fixed;
  padding: 0 10vw;
  top: 0;
  left: 0;
  width: calc(100vw + var(--scrollbar));
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.box {
  width: 3vw;
  height: 3vw;
  background-color: #000;
}

#hamburger {
  position: fixed;
  top: 15px;
  left: 300px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

#s1 {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.2);
}

#s2 {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 255, 0, 0.2);
}

#s3 {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 255, 0.2);
}

#s4 {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 0, 0.2);
}